[submodule "src/avatar/algo/tts2face_cpu"]
	path = src/avatar/algo/tts2face_cpu
	url = https://github.com/HumanAIGC/lite-avatar.git
[submodule "src/third_party/silero_vad"]
	path = src/third_party/silero_vad
	url = https://github.com/snakers4/silero-vad.git
[submodule "src/third_party/MiniCPM-o"]
	path = src/third_party/MiniCPM-o
	url = https://github.com/OpenBMB/MiniCPM-o.git
[submodule "src/third_party/gradio_webrtc_videochat"]
	path = src/third_party/gradio_webrtc_videochat
	url = https://github.com/HumanAIGC-Engineering/gradio-webrtc.git
