*.egg-info
*.pyc
*.so
.coverage
.eggs
.idea
.mypy_cache
.vscode
/build
/dist
/docs/_build

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
ssl_certs/localhost.crt
ssl_certs/localhost.key

**/sample_output.mp4
results

/sync*.sh
/build_and_run*.sh
models/MiniCPM-o-2_6*

resource/audio
resource/avatar/*
!resource/avatar/put_avatar_here.txt

dump_talk_audio.pcm
